@page
@model RazorHotelDB24.Pages.Hotels.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a hotel </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Hotel.HotelNr" class="control-label"></label>
                <input asp-for="@Model.Hotel.HotelNr" class="form-control" />
                <span asp-validation-for="@Model.Hotel.HotelNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Hotel.Navn" class="control-label"></label>
                <input asp-for="@Model.Hotel.Navn" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Navn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Hotel.Adresse" class="control-label"></label>
                <input asp-for="@Model.Hotel.Adresse" class="form-control" />
                <span asp-validation-for="@Model.Hotel.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}