@page
@model RazorHotelDB24.Pages.Hotels.GetAllHotelsModel
@{
    ViewData["Title"] = "GetAllHotels";
}
@* @if (ViewData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewData["ErrorMessage"]");
        };
    </script>
    ViewData["ErrorMessage"] = null;
} *@


<form method="get">
    
    <p>
        Search: <input type="text" asp-for="@Model.FilterCriteria" onchange=" this.form.submit()" />
        <div class="form-group">
            <label class="custom-control-label">Sortering</label></br>
            <input type="radio" asp-for="@Model.SortOrder" value="HotelNr" onclick="this.form.submit()">Hotelnr</input>
            <input type="radio" asp-for="@Model.SortOrder" value="Navn" onclick="this.form.submit()">Navn</input>
            <input type="radio" asp-for="@Model.SortOrder" value="Adresse" onclick="this.form.submit()" />Adresse</input>
        </div>

        <div class="form-group">
            <label class="custom-control-label">Sort Order</label><br />
            <select asp-for="@Model.SortOrderAscDesc" onchange="this.form.submit()">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
       @*  <input type="submit" value="Filter" /> *@
    </p>
</form>


<p>
    <a asp-page="/Hotels/Create">Create New Hotel</a>
</p>



<h4 style="color:aquamarine"> List of hotels</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel No
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Hotels.Count() != 0)
        {
            @foreach (var item in Model.Hotels)
            {
                <tr>
                    <td>
                        @item.HotelNr
                    </td>
                    <td>
                        @item.Navn
                    </td>
                    <td>
                        @item.Adresse
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Hotels/Delete" asp-route-hotelnr="@item.HotelNr">Delete</a>|
                            <a asp-page="/Hotels/Edit" asp-route-hotelnr="@item.HotelNr">Edit</a>|
                            <a asp-page="/Rooms/Create" asp-route-id="@item.HotelNr">Create new room</a>|
                            <a asp-page="/Rooms/GetAllRooms" asp-page-handler="MyRooms" asp-route-cid="@item.HotelNr">Rooms in hotel</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
